
.container{
  margin: 10px auto;
  width: 40%;
   height: 80vh; 
  background-color: #eeee; 
}
h1{
  padding-left: 50px;
  color:  blueviolet;
}
.container2{
  width: 80%;
 height: 50vh;
 margin: 10px 40px;
 

}
.container3{
 width: 30%;
 
}
#input{
 margin-left: 50px;
  width: 60%;
  font-size: large;
  border: 1px solid black;
  padding: 15px 15px;
  border-radius: 5px;
}
.heading{
  text-align: left;
   padding-top: 5px;
}
.btn1 { 
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 17px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 20px;
  border-radius: 5px;
}

.btn3{ 
   float: right;
  background-color:green;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 5px;
}
.btn2{ 
  float: right;
  background-color:#b51c1c;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px;
}
.head{
  margin: 10px 10px ;
  font-size: small;
  padding-left: 15px;
  border: 1px slid hotpink;
  width: 80%;
}




