
.container{
  margin: 10px auto;
  width: 30%;
  height: 100vh;
  background-color: #eeee;
}
#input{
 margin-left: 50px;
  width: 60%;
  font-size: large;
  border: 1px solid black;
  padding: 15px 15px;
  border-radius: 5px;
}
.heading{
   margin-left: 50px;
   color: blueviolet;
   padding-top: 5px;
}
.btn1 { 
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 17px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 20px;
  border-radius: 5px;
}
.head{
  text-align: center;
  font-size: small;
}




